<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${age >= 18} ? 'Eligable' : 'Not Eligable'"></h1>

	<h1 th:style="${age >= 18} ? 'color:green' : 'color:red'" 
		th:text="${age >= 18} ? 'You can vote' : 'You can not vote'">
	</h1>
	
	<td>
		<span th:if="${gen == 'male'}">You will give the vote in the evening</span>
		<span th:unless="${gen == 'male'}">You will give the vote in the morning</span>
	</td>
	
	<br />
	
	<td th:switch="${vote}">
		<span th:case="'pti'">You gave vote to P.T.I</span>
		<span th:case="'ppp'">You gave vote to PPP</span>
		<span th:case="'pml'">You gave vote to PML</span>
		<span th:case="*">You entered invalid party name</span>
	</td>

</body>
</html>